#container {
    display: grid;
    position: absolute;
    height: 65%;
    width: 50%;
    top: 15%;
    left: 25%;
    grid-gap: 1px;
}

#reset {
    position: absolute;
    top: 10%;
    left: 48%;
    font-size: 15px;
}